langchain
langchain-openai
langchain-text-splitters
faiss-cpu
pymupdf
python-dotenv
numpy
pandas
pydantic
sentence-transformers
dotenv
tokenizers==0.22.2
torch==2.10.0
tqdm==4.67.3
transformers==5.2.0
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uuid_utils==0.14.1
xxhash==3.6.0
zstandard==0.25.0